MediKitWeb/Connected Services/MisServiciosWeb/MisServicios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadAll">
        <s:complexType />
      </s:element>
      <s:element name="ReadAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadAllResult" type="tns:ArrayOfEquipos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEquipos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Equipos" nillable="true" type="tns:Equipos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Equipos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Producto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Precio" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Lote" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MarcaID" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ReadAllSoapIn">
    <wsdl:part name="parameters" element="tns:ReadAll" />
  </wsdl:message>
  <wsdl:message name="ReadAllSoapOut">
    <wsdl:part name="parameters" element="tns:ReadAllResponse" />
  </wsdl:message>
  <wsdl:portType name="MisServiciosSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <wsdl:input message="tns:ReadAllSoapIn" />
      <wsdl:output message="tns:ReadAllSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MisServiciosSoap" type="tns:MisServiciosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <soap:operation soapAction="http://tempuri.org/ReadAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MisServiciosSoap12" type="tns:MisServiciosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <soap12:operation soapAction="http://tempuri.org/ReadAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MisServicios">
    <wsdl:port name="MisServiciosSoap" binding="tns:MisServiciosSoap">
      <soap:address location="https://localhost:44382/MisServicios.asmx" />
    </wsdl:port>
    <wsdl:port name="MisServiciosSoap12" binding="tns:MisServiciosSoap12">
      <soap12:address location="https://localhost:44382/MisServicios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>